*ipynb_checkpoints*
*.pyc

lecture_notebooks/photon_counting/alex20170611_002_12d_tit2_D190uW_A80uW.hdf5
/Users/maya/Documents/UCLA/teaching/114/lab_notebooks/lecture_notebooks/photon_counting/alex20170611_002_12d_tit2_D190uW_A80uW.hdf5
